---
title: News
layout: page
---
<div id="hgdiv">
  <h1>RAISE NEWS</h1>
  <div class="row">
    {% assign postsByYear =
    site.categories.news | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
    <h1 style="font-size: 30px; color: #ffffff">&nbsp&nbsp&nbsp{{ year.name }}</h1>
    <ul style="list-style: none;" class="newspanel">
      {% for post in year.items %}
      <li>
        <p style="float: left;"><img src="/img/{{post.img}}" width="180" height="120"></p>
        <a href="{{ post.url }}" style="color: #c00; font-family:Tahoma;">
          <h4 style="font-size: 16px;">{{ post.title| strip_html| truncatewords: 20 }}</h4>
        </a>
        <h4 style="color: #cc0033;font-size: 14px;">{{ post.date | date: "%m/%d/%Y" }}</h4>
        <p style="font-size: 15px;">{{post.content| strip_html| truncatewords: 120}}</p>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
</div>



<!--


 {% for post in site.categories.news do %}
 <div class="column" id="newcontent">
<!--      <div class="column" id="newcontent" style="background-image: url(../img/news_block1.png); background-size: cover;">
   <font color="#CC0303" size=3.5>
     <b><em>{{ post.date | date: "%b %d, %Y"}}
     </em></b></font></br>
   <a href="{{post.url}}" class="more" id="mores">{{post.title}}</a>
 </div>
 {% endfor %} -->
