<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- ATENTION: FIRST IMG FIXED, WITHOUT LINK. AND keep <a> here -->
      <!-- ATTENTION: PLEASE MAKE IMG WIDTH:HEIGH=2:1 -->
      <a><img src="img/nov-16-17.jpg" class="img-responsive"></a>
    </div>

    <div class="item">
      <div class="item"><a href="https://www.elsevier.com/connect/how-does-your-research-influence-legislation-text-mining-may-reveal-the-answer">
        <img src="/img/hpcc_panel.jpg" class="img-responsive"></a>
  		<div class="headline_container">
				<p class="header">
          <b>[Elsevier]</b> Collaboration between NCSU, RAISE and LexisNexis shows link between research and policy
        </p>
  			</div>
  	</div>
  </div>

    <div class="item">
      <div class="item"><a href="/projects">
        <img src="/img/reading_cover.jpg" class="img-responsive"></a>
  		<div class="headline_container">
				<h4 class="header">Exploring AI and SE synergies</h4>
			</div>
	</div>
</div>

<div class="item">
  <div class="item"><a href="https://github.com/ai-se/ResourcesDataDrivenSBSE/blob/master/README.md">
    <img src="/img/dse_repo.jpg" class="img-responsive"></a>
  <div class="headline_container">
    <h4 class="header">Data-Driven SBSE</h4>
  </div>
</div>
</div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
