<script type="text/javascript">
	var title = document.getElementsByTagName("title")[0].innerHTML;
	var filename = "dec-12-05_new.jpg";
	if (title.includes("Contact"))
		{filename="labpic.JPG"}
	if (title.includes("People"))
		{filename="dinner_nov_18.jpg"}
	if (title.includes("Alumni"))
		{filename="may1019.jpg"}
	if (title.includes("Talks"))
		{filename="talk.jpg"}
	if (title.includes("Projects"))
		{filename="landing_projects.png"}
	if (title.includes("Papers"))
		{filename="pubs.jpg"}
	if (title.includes("Events"))
		{filename="reading.jpg"}
	document.write("<img src=/img/" + filename + " width=\"1000px\">")
</script>
