<script type="text/javascript">
	var title = document.getElementsByTagName("title")[0].innerHTML;
	var filename = "nov-16-17.jpg";
	if (title.includes("Contact"))
		{filename="labpic.JPG"}
	if (title.includes("People"))
		{filename="nov-16-17.jpg"}
	if (title.includes("Talks"))
		{filename="talk.jpg"}
	if (title.includes("Projects"))
		{filename="landing_projects.png"}
	if (title.includes("Publications"))
		{filename="pubs.jpg"}
	if (title.includes("Events"))
		{filename="reading.jpg"}
	document.write("<img src=/img/" + filename + " width=\"1000px\">")
</script>
