<link rel="stylesheet" href="/img/ncsu.css">

<div id="ncstate-utility-bar" class="ncstate-utility-bar red" role="navigation" aria-label="NC State Brand Utility Bar">
  <div class="ncstate-utility-bar-tools">
    <div class="ncstate-utility-bar-wrapper ncstate-utility-bar-wrapper-primary" id="ncstate-utility-bar-wrapper-primary">
      <div class="ncstate-utility-bar-home"><a href="https://www.csc.ncsu.edu">Department of CSC</a></div>
      <div class="ncstate-utility-bar-home"><a href="https://www.ncsu.edu">NC State </a></div>
    </div>
  </div>
</div>

<ul id="nav">
  <li><a href="/index">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/alumni">Alumni</a></li>
  <li><a href="/papers">Papers</a></li>
  <li><a href="/talks">Talks</a></li>
  <li><a href="/projects">Projects</a></li>
  <!-- <li><a href="/contact">Contact</a></li> -->
  <li><a href="/events">Meet-us!</a></li>
</ul>
