<p class="social-wrapper">
   <a href="https://www.facebook.com/ai4se" target="_blank">
      <img alt="fb" src="{{site.url}}/img/facebook.png" align="middle">
   </a>
   <a href="https://twitter.com/RaiseLabsNCSU" target="_blank">
      <img alt="twitter" src="{{site.url}}/img/twitter.png" align="middle">
   </a>
   <a href="mailto:ai4se.ncsu@gmail.com" target="_blank">
      <img alt="gmail" src="{{site.url}}/img/gmail.png" align="middle"/>
   </a>
   <a href="https://github.com/ai-se" target="_blank">
      <img alt="github" src="{{site.url}}/img/github_rounded.png" align="middle"/>
   </a>
   <a href="https://plus.google.com/102441917532143263117/about" target="_blank">
      <img alt="google+" src="http://ai4se.net/img/GooglePlus.png" align="middle" style="margin-top: 6px;">
   </a>
   
</p>
