<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=EB+Garamond" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{url}}/img/style.css" type="text/css" media="screen,projection" />
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.author}}" />
  <link rel="icon" type="image/ico" href="/img/favicon.ico">


</head>

<body>
  <div id="wrapper1">
    <div id="wrapper2">
      {% include nav.html %}
      <div id="header">
        <h1>
          The <b>
            <font color="#CC0000">RAISE</font>
          </b> Lab @<a href="https://www.ncsu.edu"><img src="https://brand.ncsu.edu/img/downloads/logo-08.jpg" alt="NCSU" height="50"></a> <br><span style="font-size: 22px; text-transform: none;  color: #000;">
            <u>R</u>eal-world <u>A</u>rtifical <u>I</u>ntelligence for <u>S</u>oftware <u>E</u>ngineering
          </span>
        </h1>
      </div>
      <div id="container">
        {% include landingCarousel.html %}
      </div>

      <div>
        <table style="width:100%">
          <tr>
            <td height="50" bgcolor="#CC0000" align="center"><a id="aox" href="projects">See our projects</bb>
            </td>
            <td bgcolor="#CC0000" align="center"><a id="aox" href="https://github.com/ai-se">Explore source code</a></td>
            <td bgcolor="#CC0000" align="center"><a id="aox" href="contact">Contact us</a></td>
          </tr>
        </table>
      </div>

      <div id="content">
        {{content}}
        <div style="clear:both;">&nbsp;</div>
      </div>

      {% include latestnews.html %}
</div>
</html>
