<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" 
      href="{{url}}/img/style.css" 
      type="text/css" 
      media="screen,projection" />
  <meta name="description" content="{{site.description}}"/>
  <meta name="author" content="{{site.author}}"/>
  <link rel="icon" 
	type="image/ico" 
	href="{{site.url}}/img/favicon.ico">
</head>
<body>
<div id="wrapper1">   
  <div id="wrapper2">
    {% include nav.html %}
    {% include social_media.html %}
    <div id="header">
     
   
    <table width=100% >
      <tr>
	 
        <td align=left >
          <h1>
            <a href="{{site.url}}">
               The RAISE Lab <br><span 
style="font-size: 17px; text-transform: none;  color: #000;">
(<u>R</u>eal-world <u>A</u>rtifical <u>I</u>ntelligence for <u>S</u>oftware <u>E</u>ngineering.)
</span>
            </a>
          </h1>
	
        </td>
	  <td align=right valign=bottom>
             <img src="{{site.url}}/img/ncstate.png" 
                  width=175>
          </td>
	  <td align=right valign=left width=55>
             <img src="{{site.url}}/img/ncsu-logo.png" 
                  width=45>
          </td>
	   
	
        
      </tr>
    </table>
    </div>
    <div id="container">
      {% include landimg.html %}
      <div id="sidebar">
         <h2>Latest News</h2>
           
          <div class="news-wrapper">
        {% for post in site.categories.news  limit:10 do  %}
            <p class="news">
               <em>
                 {{ post.date | date: "%b%-d '%y" }} 
               </em>
               <b>
		 {{ post.title}}:
	       </b>
                  {{post.excerpt}}
	          <a href="{{post.url}}" class="more">More »</a>  
            </p>
        {% endfor %}
            </div>
	     <a href="http://ai4se.net/news/" class="more">All the news »</a> 

	 
       
      </div>
      <div id="content">   
        {% if page.title %} <h1>{{ page.title }}</h1>  {% endif %} 
        <p><em>{% if page.date %} {{ page.date | date: "%b%-d '%y" }}  {% endif %} 
        {% if page.author %}  by {{ page.author }}  {% endif %} 
</em></p>

          {{content}}


      <div style="clear:both;">&nbsp;</div>
    </div>
    </div>
  </div>
</div>
<div id="footer">
  <p><img  align=middle alt="Creative Commons License" 
              style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /> &copy; Creative Commons Attribution 4.0 International License. 
    Design:
       <a href="http://www.sixshootermedia.com">6 Shooter Media</a>.<br>
          
  </p>
</div>
<script>
</body>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55634425-1', 'auto');
  ga('send', 'pageview');
  ga(‘set’, ‘&uid’, {{Tim.Menzies}}); // Set the user ID using signed-in user_id.

</script>

</html>
