body {
  font-family: 'Helvetica';
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: justify;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

a:hover {
  /* background-color: yellow; */
  color: #CC0000;
}

#wrapper1 {
  xbackground: #1e1e1e;
  padding: 0 0px 10px 10px;
  width: 1000px;
  margin: 0 auto;
  padding-top: -10px;
  margin-top: -10px;
  position: relative;
}

#wrapper2 {
  width: 1000px;
  padding: 0 8px 8px 8px;
  padding-top: -10px;
  margin-top: -10px;
}

#nav, #nav-inner, .nav-list {
  background-color: #fff;
  border: 0;
}

#nav {
  border-top: 10px solid #CC0303;
  padding: 0px 0px 0px 0px;
}

#nav a:link, a:visited {
  border-radius: 0 0 8px 8px;
  padding: 3px 25px;
}

#nav ul {
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

#nav li {
  text-transform: uppercase;
  display: inline;
  list-style-type: none;
}

#nav a {
  float: left;
  /* font-weight: bold; */
  font-family: 'Verdana';
  color: #000;
  margin: 0 3px 0 0;
  background-color: #eee;
}

#nav a:hover {
  background-color: #CC0303;
  color: #fff;
}

#header h1 {
  font: 2.7em Arial;
  letter-spacing: -1px;
  width: 100%;
  color: #222;
  float: left;
  padding: 10px 10px 14px 5px;
  padding-top: 10px;
  padding-bottom: 1px;
  /* xpadding:30px 20px 14px 5px; */
  xbackground: url(h1.gif) left bottom no-repeat;
}

#header h1 a {
  color: #222;
  text-decoration: none;
  border: none;
}

#header h1 a:hover {
  color: #000;
}

#header h1 span {
  font-size: .8em;
  color: #ccc;
  text-transform: uppercase;
}

#container {
  clear: both;
  padding: 0px 0 0 0;
}

#sidebar {
  width: 400px;
  float: right;
  padding: 10px 0px 10px 50px;
  margin: 0;
}

#hgdiv h2 {
  font: 1.3em Arial;
  color: #121212;
  letter-spacing: -1px;
  margin: 10px 10;
  clear: left;
}

#hgdiv h2 a {
  color: #CC0000;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#newcontent {
  font-style: normal;
  font-size: 15px;
  background: #f4f4f4;
  padding: 10px;
  max-width: 250px;
  height: 170px;
  margin: 0 0 10px 0;
  border-left: 10px solid #FFFFFF;
}

#peoplecontent {
  font-size: 15px;
  background: #f4f4f4;
  padding: 10px;
  width: 1000px;
  /* height: 170px; */
  margin: 0 0 10px 0;
  border-left: 10px solid #FFFFFF;
}

#mores {
  display: block;
  text-decoration: none;
  text-align: left;
  border: none;
  font-style: normal;
}

#content {
  margin: 0px 0px 0 0px;
  padding: 10px 10px 0 0;
  /*background:url(content.jpg) top right no-repeat;*/
}

#content h2 {
  font: 1.3em Arial;
  color: #121212;
  letter-spacing: -1px;
  margin: 10px 0;
  clear: left;
}

#content h2 a {
  font: 1.3em Arial;
  color: #121212;
  letter-spacing: -1px;
  margin: 10px 0;
  clear: left;
}

#content p {
  margin: 15px 0;
  font-size: 110%;
  line-height: 21px;
  text-align: justify;
}

ol.subnav {
  margin: -10px 0 0 -5px;
  padding: 0;
}

ol.subnav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.subnav a {
  gsefont-weight: bold;
  color: #555;
  border-top: 2px solid #fff;
  display: block;
  padding: 5px;
  text-decoration: none;
  margin: 0 5px 0 0;
  border-bottom: none;
}

ol.subnav a:hover {
  border-top: 2px solid #005A97;
  color: #121212;
  border-bottom: none;
}

p.news {
  font-size: 12px;
  background: #f4f4f4;
  padding: 10px;
  margin: 0 0 10px 0;
  border-left: 5px solid #f0f0f0;
}

p.news a.more {
  display: block;
  color: #333;
  text-decoration: none;
  text-align: right;
  border: none;
}

#sidebar ul {
  list-style: none;
  border-top: 1px solid #eee;
  border: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin: 0;
}

#sidebar ul li a {
  color: #0066dd;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #CC0000;
}

input {
  padding: 5px;
  border: 1px solid #eee;
  color: #555;
  width: 220px;
}

#content h3 {
  font: 1.8em Trebuchet MS;
  color: #555;
  margin: 10px 0;
}

blockquote {
  padding: 0 0 0 10px;
  border-left: 5px solid #eee;
}

ul {
  margin: 10px 10px 10px 0;
  padding: 0 0 0 15px;
  xborder: 1px solid #eee;
}

li {
  margin: 0 0 0 0px;
  xpadding: 5px;
  font-size: 1.1em;
}

#content img {
  padding: 3px;
  /* border: 1px solid #eee; */
  margin: 5px;
}

a {
  color: #222;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

#aox {
  color: #FFFFFF;
  border-bottom: None;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 15pt;
}

a:hover {
  border-bottom: 1px solid #ccc;
}

#footer {
  text-align: center;
  border-top: 2px solid #000;
  padding: 10px;
  margin: 10px 0 0 0;
  /* color:#ccc; */
  width: 1000px;
  margin: 0 auto;
}

#footer a {
  /* color:#eee; */
}

div.gsc-control-cse {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*
Social Media Styles
*/
.social-wrapper {
  position: absolute;
  left: -29px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  padding: 5px 0px;
  top: 12px;
}

.social-wrapper a {
  display: block;
  text-decoration: none;
  border: 0px;
}

.social-wrapper a img {
  height: 40px;
}

#searchbar {
  width: 70%;
  font-size: 15px;
  padding: 3px 3px 3px 3px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



ul.newspanel li {
  display: block;
  /* text-align: center; */
  min-height: 166px;
  width: 800px;
  /* line-height:2px; */
  list-style-type: none;
  border-bottom: 1px dashed;
  padding: 0;
  margin: 0;
}


#myCarousel {
  margin-left: 0px;
  margin-right: 0px;
}

.item {
  .transition(.3s ease-in-out left);
}

.item img {
  margin-left: auto;
  margin-right: auto;
}

.selected img {
  opacity: 0.5;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  border: none;
}

.carousel-control.left {
  margin-left: 25px;
}

.carousel-control.right {
  margin-right: 25px;
}

.carousel-control {
  width: 0%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: #aa033;
  font-size: 60px;
}

.carousel-inner>.item>img {
  width: 1000px;
  height: 500px;
  overflow: hidden;
}

.headline_container {
  background-color: #cc0000;
  opacity: 0.8;
  width: 600px;
  color: #fff;
  position: absolute;
  bottom: 100px;
  left: 350px;
  text-align: center;
}

.header {
  color: white;
  width:  1000px;
  font-family: PT Sans;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25em;
  /* text-shadow: 2px 2px 0px #ffb3b3; */
  font-weight: 700;
  letter-spacing: -1px;
}

.no-underline {
  text-decoration: none;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-family: Helvetica;
  font-size: 15pt;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CC0000;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-family: Helvetica;
  font-size: 13pt;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #FF0000;
}

.show {
  display: block;
}
